/* static/css/styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 20px;
}

h1 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

li {
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    flex: 0 0 calc(33.33% - 20px); /* Corregido aquí */
    box-sizing: border-box; /* Añadido para corregir el ancho real */
}

img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

strong {
    color: #007bff;
}
